<!doctype html>
<html>
<head>
<script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
</head>
<body>
  <div id='messagesDiv'></div>
  <input type='text' id='songInput' placeholder='Song'>
  <input type='text' id='artistInput' placeholder='Artist'>
  <script>
  var myDataRef = new Firebase('https://blistering-torch-3242.firebaseio.com/');
  $('#artistInput').keypress(function (e) {
    if (e.keyCode == 13) {
      var song = $('#songInput').val();
      var artist = $('#artistInput').val();
      myDataRef.push({song: song, artist: artist});
      $('#artistInput').val('');
    }
  });
  myDataRef.on('child_added', function(snapshot) {
    var message = snapshot.val();
    displayChatMessage(message.song, message.artist);
  });

  function displayChatMessage(song, artist) {
    $('<div/>').text(artist).prepend($('<em/>').text(song+': ')).appendTo($('#messagesDiv'));
    $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
  };
  </script>
</body>
</html>
